name: Docker Image CI

on:
  push:
    branches: ["deploy"]

jobs:
  build:
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker image and run the tests
        run: |
          brew install docker
          colima start
          docker build . --file Dockerfile --tag power-grid:latest
          /bin/bash ./runner.sh
        timeout-minutes: 60
      - name: Archive run results
        uses: actions/upload-artifact@v4
        with:
          name: run-report
          path: ./run.txt
      - name: Archive run log
        uses: actions/upload-artifact@v4
        with:
          name: run-log
          path: ./log.txt
      - name: Archive run output
        uses: actions/upload-artifact@v4
        with:
          name: run-output
          path: ./data/output
