name: Docker Image CI

on:
  push:
    branches: [ "deploy" ]

jobs:
  build:
    runs-on: macos-13

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag power-grid:$(date +%s)
    - name: Run the tests
      run: /bin/bash ./runner.sh
      timeout-minutes: 60
    - name: Archive run results
      uses: actions/upload-artifact@v4
      with:
        name: run-report
        path: ./run.txt
